.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  min-height: 64px;
  text-align: center;
  background-color: #333333;
}

.footer img {
  display: block;
  margin: 0.5rem auto;
}

.footer span:nth-child(3) {
  color: #777777;
}

.footer span:nth-child(3) a {
  color: inherit;
}

.footer .copy {
  color: #ffffff;
}
